{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Post Detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'instagram/css/style.css' %}">
</head>
  <body>
    <section id="post-section">
    <a href="/"><img class="post-user" src="{% static 'instagram/images/user.png' %}" alt="user"></a><span style="cursor: pointer; font-size: 25px ; position: absolute; padding-left: 10px;">Username</span>
        <img class="post-pic" src="{% static 'instagram/images/unknown-mail.png' %}" alt="user">
        <img id="heart" class="like-comment" src="{% static 'instagram/images/heart.png' %}" alt="heart">
        <img class="like-comment" src="{% static 'instagram/images/paper-plane.png' %}" alt="share">
        <img class="like-comment-dots" src="{% static 'instagram/images/dots.png' %}" alt="dots">
        
        <div><b>Username</b></div>
        <div class="container-fluid">
            {{ post.post_body }}
        </div>
        <div style="opacity: 50%;">{{ post.created_time }}</div>
        <br>
        {% for c in comment %}
        <div>Username</div>
        <div class="container-fluid">{{ c.body }}</div>
        <div style="opacity: 50%;">{{ c.created_time }}</div>
        {% endfor %}
    </section>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>