{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
    <link rel="stylesheet" href="{% static 'instagram/css/style.css' %}">
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> {% endcomment %}
</head>
<body>
    <section id="top-section">
        <img class="logo-top-lef" src="{% static 'instagram/images/settings.png' %}" alt="setting">
        <a href="/"  class="center-text"><span>instagram</span></a>
        <img class="logo-top-right" src="{% static 'instagram/images/paper-plane.png' %}" alt="share">
    </section>
    <section id="user-section">
        <img class="user-icon" src="{% static 'instagram/images/user.png' %}" alt="user">
        <img class="user-icon" src="{% static 'instagram/images/user.png' %}" alt="user">
        <img class="user-icon" src="{% static 'instagram/images/user.png' %}" alt="user">
        <img class="user-icon" src="{% static 'instagram/images/user.png' %}" alt="user">
        <img class="user-icon" src="{% static 'instagram/images/user.png' %}" alt="user">

    </section>
    {% for post in posts %}
    <section id="post-section">
        <img class="post-user" src="{% static 'instagram/images/user.png' %}" alt="user"><span style="cursor: pointer; font-size: 25px ; position: absolute; padding-left: 10px;">Username</span>
        <img class="post-pic" src="{% static 'instagram/images/unknown-mail.png' %}" alt="user">
        <img id="heart" class="like-comment" src="{% static 'instagram/images/heart.png' %}" alt="heart">
        <img id="heart-red" class="heart-red" src="{% static 'instagram/images/heart-red.png' %}" alt="heart">
        <img class="like-comment" src="{% static 'instagram/images/chat.png' %}" alt="chat">
        <img class="like-comment" src="{% static 'instagram/images/paper-plane.png' %}" alt="share">
        <img class="like-comment-dots" src="{% static 'instagram/images/dots.png' %}" alt="dots">
        
        <div><b>Username</b></div>
        <div class="container-fluid">
            {{ post.post_body }}
        </div>
        <div style="opacity: 50%;">{{ post.created_time }}</div>
        <br>
        <br>
    </section>
    {% endfor %}
    <section id="footer-section">
        <a href="/"><img class="footer-icon" src="{% static 'instagram/images/house.png' %}" alt="home"></a>
        <a href="#"><img class="footer-icon" src="{% static 'instagram/images/magnifying-glass.png' %}" alt="serach"></a>
        <a href="#"><img class="footer-icon" src="{% static 'instagram/images/plus.png' %}" alt="plus"></a>
        <a href="#"><img class="footer-icon" src="{% static 'instagram/images/user.png' %}" alt="user"></a>
    </section>

    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> {% endcomment %}
    <script src="{% static 'instagram/js/script.js' %}"></script>
</body>
</html>